<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
   <h1 style="text-align : center">Amount <%= addingMoney%> added successfully.</h1>
   <h1 style="text-align : center"><%= name %> your balance is <%= totalmoney %> .</h1>
  </body>
</html>
